@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
.navbar{
  height: 70px;
}
.card {
  width: 20rem;
}
.picture {
  width: 15rem;
}

body {
  padding-top: 150px;
  color : black;
  font-size: 1rem;

}

.poster {
  max-height: 400px;
  max-width: 500px;
}
