{% extends 'base.html.twig' %}

{% block title %}Nouveau film{% endblock %}

{% block body %}
    <h1>Créer un nouveau film</h1>

    {{ include('movies/_form.html.twig') }}

    <a href="{{ path('movies_index') }}">Retourner à la liste</a>
{% endblock %}
