{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
    <div class="w-50 m-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <h1 class="m-2">Résultats de la recherche</h1>

    <div class="row">
        {% for movie in movies %}
            {% include 'movies/_movies.html.twig' %}
        {% else %}
            <h4 class="m-2">Pas de film trouvé</h4>
        {% endfor %}
    </div>
{% endblock %}
