{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}
    {% block body %}
        <div class="w-50 m-auto">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="row">
        {% for movie in movies %}
        {% include 'movies/_movies.html.twig' %}
        {% endfor %}
        </div>
    {% endblock %}
